<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Knowledge Base Notification</title>
</head>
<body>
<p>Dear <span th:text="${toUser}"></span>,</p>
<p>
    I hope this email finds you well. We have received a request to reset the password associated with your account at Yondu Knowledgebase. We understand that forgetting passwords can happen to anyone.
</p>
<p>
    As requested, we have generated a temporary password for you to use when logging in to your account. Please note that this password is temporary and should be changed immediately after logging in.
</p>
<p>Temporary Password: <strong> <span th:text="${temporaryPassword}"></span></strong></p>
<br>
<p>
    Thank you for using our application. We hope that the notification we sent was helpful to you. If you have any further inquiries or need assistance, please feel free to reach out to us at <a href="mailto:knowledgebase0630@gmail.com">knowledgebase0630@gmail.com</a>.
</p>

<p>
    Best regards,<br>
    The Yondu Knowledge Base Team
</p>
</body>
</html>
